# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HK\pg5100_8002\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
